* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    background-color: #000000;
}

main {
    height: 100vh;
    width: 75vw;
    margin: auto;
    display: grid;
    gap: 10px;
    padding: 20px;

    grid-template-columns: 2fr 3fr 1.5fr 2.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "img1logo img1logo list smiley"
        "img1logo img1logo list img2"
        "barcode location list img2"
        "barcode medals ratings ratings"
        "barcode qrcode ratings ratings";
}

.section {
    min-width: 0;
    min-height: 0;
}

.section1 {
    grid-area: img1logo;
    background-color: #0A0A0A;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .person-div,
.section1 .logo-div {
    flex: 1;
    aspect-ratio: 1/1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section1 .logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.section1 .person {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.section1 .person-div {
    background-color: #9E54F4;
    margin: 10px;
}

.section1 .logo-div {
    background-color: #171719;
    padding: 20px;
}

.section2 {
    grid-area: logo;
    background-color: #171719;
}

.section3 {
    grid-area: list;
    background-color: #161616;
    padding: 20px;
    border-radius: 20px;
}

.section3 ul {
    list-style-type: none;
}

.section3 ul li {
    padding-block: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
}

.section3 hr {
    background: #232323;
    opacity: 0.1;
    margin-block: 20px;
}

.section3 i {
    padding-right: 10px;
    font-size: 16px;
}

.section4 {
    grid-area: smiley;
    background: linear-gradient(to right, #A759F5, #783CCD);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
}

.section4 div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.section4 i {
    font-size: 30px;
    font-weight: 100;
}

.section4 h4 {
    font-weight: 400;
    font-size: 12px;
}

.section4 hr {
    background: #171719;
    opacity: 0.5;
    height: 100%;
}

.section h3 {
    font-weight: 400;
    font-size: 14px;
}

.section5 {
    grid-area: barcode;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid #D6F156;
    border-radius: 20px;
}

.section5 h1 {
    font-size: 40px;
    transform: scaleY(3);
    text-transform: uppercase;
    padding-block: 20px;
    font-weight: 500;
}

.section5 h2 {
    color: #986EC2;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    padding-block: 10px;
}

.section5 hr {
    background: #171719;
    opacity: 0.2;
    width: 100%;
}

.section5 .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-block: 10px;
}

.section5 .content h4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.section5 .barcode-img {
    width: 100%;
    height: 50px;
    object-fit: cover;
    object-position: center;
}

.section5 .content .bitcoin {
    height: 30px;
    width: 30px;
    object-fit: contain;
    background: #D6F156;
    padding: 2px;
    border-radius: 10px;
}

.section6 {
    grid-area: location;
    background-color: #171719;
    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.section6 .address {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.section6 i {
    background-color: #D6F156;
    border-radius: 50%;
    padding: 5px;
    color: #000;
}

.section6 h2 {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 500;
}

.section6 h4 {
    color: #666;
    font-size: 12px;
    text-transform: uppercase;
}

.section6 h3 {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
}

.section7 {
    grid-area: medals;
    background-color: #171719;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.section8 {
    grid-area: qrcode;
    background-color: #D6F156;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
}


.section8 i {
    font-size: 20px;
    color: #000;
    opacity: 0.8;
    padding-top: 20px;
}

.section8 .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 20px;
}

.section8 .content h3 {
    color: #000;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 550;
}

.section8 .content h4 {
    color: #000;
    opacity: 0.8;
    font-size: 12px;
    font-weight: 500;
}

.section8 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.section7 img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}

.section9 {
    grid-area: img2;
    background-color: #D6F156;
    border-radius: 10px;
}

.section9 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: auto;
}

.section10 {
    color: #000;
    grid-area: ratings;
    background-color: #FEFEFE;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    justify-content: center;
    border-radius: 20px;
}

.section10 .left,
.section10 .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section10 .left {
    align-items: flex-start;
    width: 60%;
}

.section10 .right {
    align-items: flex-end;
    width: 40%;
}

.section10 .left h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
}

.section10 .left h5 {
    font-size: 12px;
    font-weight: 200;
    color: #000;
}

.section10 button {
    background: linear-gradient(to right, #A759F5, #783CCD);
    color: #fff;
    text-transform: uppercase;

    border-radius: 10px;
    padding-block: 5px;
    padding-inline: 10px;
    border: none;
    font-size: 12px;
}

.section10 .right i {
    color: #D6F156;
    font-size: 16px;
}

.section10 .right h2 {
    font-size: 50px;
}